// modal styles

::ng-deep.modal-content--lg{
  max-width: 988px!important;
}

::ng-deep .modal-title {
  font-size: 1.125rem !important;
  color: #666666 !important;
  font-weight: 600 !important;
}

::ng-deep .modal-header {
  padding: 1.25rem 1.25rem 0.625rem 1.25rem !important;
  border-bottom: 0 !important;
}

::ng-deep .modal-close{
  height: 2rem!important;
  color: #4E4E4E !important;
}

::ng-deep .modal-body {
  padding:0.625rem 1rem 1.563rem 1.25rem!important;
}

.progress-section-wrapper{
  border:1px solid #EFEAFE;
  width: 100%;
  padding:0.875rem 1rem 2.063rem 1rem;
  border-radius: 8px;
}

.coach-image {
  width: 48px;
  height: 48px;
}

.card-number{
  background-color: #5B2AE3;
  color:#FFFFFF;
  font-weight: 500;
  border-radius: 14px;
  font-size: 1rem;
  padding: 4px 16px;
}

.date-section{
  font-size: 0.938rem;
  font-weight: 500;
  color:#5A5A5A;
}

.coach-name{
  color:#414141;
  font-size: 1rem;
  font-weight: 500;
}

.star-rating{
  color:#FFA700;
  font-weight: 600;
  font-size: 1rem;
}

.email{
  color:#666666;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  font-size: 0.813rem;
}

.dashed {
  border: none;
  border-top: 2px dashed #D0D0D0;
  width: 100%;
  // display: block;
   opacity: 1;
  margin-top: 16px;
}

.custom-checkbox {
  width: 20px;   
  height: 20px; 
  accent-color: #5B2AE3; 
  cursor: pointer;
}

.download-button{
  background-color: white;
  border:2px solid #5B2AE3;
  color:#5B2AE3;
  font-size:0.875rem;
  border-radius: 19px;
  padding:7px 16px;
  font-weight: 500;
}

.email-text{
  font-size: 0.813rem;
  font-weight: 500;
  color:#212121;
}

.feedback-wrapper{
  padding-top:16px;
  padding-bottom:24px;
}

.sub-heading{
  font-size: 0.938rem;
  font-weight: 500;
  color:#2B2B2B;
}

// star rating section

.rating-feedback {
  display: flex;
  gap: 20px;
  margin-top: 25px;
  margin-bottom: 32px;
  .star {
    cursor: pointer;
    transition: transform 0.2s, opacity 0.2s;

    &:hover {
      transform: scale(1.2);
    }

    &:not(.selected) {
    filter: grayscale(100%) brightness(150%);
    }

    @media (max-width: 768px) {
      width: 28px !important;
      height: 28px !important;
    }
  }
}

// custom text-area
::ng-deep .tvsm-textarea {
  font-size: 0.813rem !important;
  color: #909090 !important;
  border: 1px solid #EFEAFE !important;
  border-radius: 0.5rem !important;
  padding: 0.3125rem !important;
  box-shadow: 0 0 1px #0000C73B !important;
  &:focus {
    border-color: #183883 !important;
    color: #1c1c1c !important;
    box-shadow: none !important;
  }
}


// button
.close-btn {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #FF0000;
  border-radius: 20px;
  color: #FF0000;
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 500;
}

.submit-btn{
  background: #5B2AE3 0% 0% no-repeat padding-box;
  border-radius: 20px;
  color: white;
  padding: 6px 20px;
  font-size: 1rem;
  font-weight: 500;
}