<div class="d-flex flex-column flex-md-row py-cs-40 px-cs-30">
  <!-- First column: fixed max width on md+ -->
  <div class="left-column border me-md-4 mb-3 mb-md-0 d-flex gap-5 px-cs-5 py-cs-10">
    <div>
      <span>Employee name</span>
      <!-- Tooltip for left column flag -->
      <!-- <div *ngIf="leftColumnFlag" class="position-relative flag-tooltip-container ms-2">
        <img src="./assets/icons/flag.svg" alt="flag" class="flag-icon" />
        <div class="flag-tooltip">
          <div class="text-bs-inter-medium-bright-red-14s-17l mb-1">
            Due Date: {{ selectedDate }}
          </div>
          <div class="text-bs-inter-reg-dark-gray-13s-18l">
            {{ description }}
          </div>
        </div>
      </div> -->
    </div>
    <!-- <div
      class="cursor add-icon-wrapper"
      [ngClass]="leftColumnFlag ? 'remove' : 'add'"
      (click)="leftColumnFlag ? removeLeftColumnFlag() : openLeftFlagModal()"
    >
      <img
        [src]="leftColumnFlag ? './assets/icons/remove.svg' : './assets/icons/add-gray.svg'"
        [alt]="leftColumnFlag ? 'remove' : 'add'"
        class="add-icon"
      />
    </div> -->
  </div>

  <!-- Second column: takes remaining space -->
  <div class="right-column d-flex flex-wrap gap-3">
    @for (card of cardData; track card.id) {
      <div
        class="d-flex flex-column justify-content-between custom-box px-cs-16 py-cs-20 card-wrapper"
      >
        <div class="d-flex justify-content-between align-items-center">
          <div class="d-flex gap-1 align-items-center">
            <div class="card-title">{{ card.title }}</div>
            <div class="card-unit">{{ card.unit }}</div>

            <!--  Conditionally show red flag if card has flag -->
            <!-- <div *ngIf="hasFlag(card.id)" class="position-relative flag-tooltip-container">
              <img
                src="./assets/icons/flag.svg"
                alt="flag"
                class="flag-icon"
                (mouseenter)="adjustTooltipPosition($event, card.id)"
              />

              Tooltip box
              <div class="flag-tooltip">
                <div class="text-bs-inter-medium-bright-red-14s-17l mb-1">
                  Due Date: {{ getFlagData(card.id)?.date }}
                </div>
                <div class="text-bs-inter-reg-dark-gray-13s-18l">
                  {{ getFlagData(card.id)?.description }}
                </div>
              </div>
            </div> -->
          </div>
          <div
            class="cursor add-icon-wrapper"
            [ngClass]="hasFlag(card.id) ? 'remove' : 'add'"
            (click)="hasFlag(card.id) ? removeFlag(card) : openModal(card)"
          >
            <img
              [src]="hasFlag(card.id) ? './assets/icons/remove.svg' : './assets/icons/add-gray.svg'"
              [alt]="hasFlag(card.id) ? 'remove' : 'add'"
              class="add-icon"
            />
          </div>
        </div>
        @if (card.value < 100) {
          <div class="text-center card-value-green">
            {{ card.value }}
          </div>
        } @else {
          <div class="text-center card-value-yellow">
            {{ card.value }}
          </div>
        }
        <div class="text-center">
          <div class="last-updated-label">Last updated on</div>
          <div class="last-updated-date">dd-mm-yyyy</div>
        </div>
      </div>
    }
  </div>
</div>

<tvsm-modal [isOpen]="isOpen" (closed)="close()" [title]="modalTitle" size="lg">
  <div class="modal-content-wrap mb-4">
    <form #flagForm="ngForm" (ngSubmit)="onSubmit(flagForm)">
      <div>
        <label class="flag-label">Flag Description</label>
        <tvsm-textarea
          (valueChange)="onInput($event)"
          name="description"
          required
        >
        </tvsm-textarea>
      </div>

      <div>
        <div class="container my-3">
          <div class="row g-3">
            <!-- First column: Date -->
            <div class="col-12 col-lg-4 px-0">
              <label for="dateInput1" class="flag-label"> Due Date </label>

              <!-- Input + icon wrapper -->
              <tvsm-datefield
                [value]="selectedDate"
                [minDate]="getTodayDateValue()"
                (onChange)="onDateChange($event)"
              ></tvsm-datefield>
            </div>

            <!-- Second column: Dropdown -->
            <div class="col-12 col-lg-4 px-0 px-lg-3">
              <label for="dateInput2" class="flag-label"> Send mail to </label>
              <tvsm-dropdown
                [options]="multiSelectOptions"
                placeholder="Select"
                [searchable]="true"
                [multiple]="true"
                [showCheckboxes]="true"
                [filterIcon]="false"
                searchPlaceholder="Search"
                (selectionChange)="onMultiSelectChange($event)"
                [searchIconContent]="searchIcon"
                [arrowIconContent]="arrowIcon"
              ></tvsm-dropdown>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div
    class="modal-actions d-flex align-items-center justify-content-end justify-content-center-sm gap-2"
  >
    <button type="submit" class="btn btn-primary" form="flagForm">Submit</button>
  </div>
</tvsm-modal>
