body{
  font-family: 'Inter';
}

.header{
  background-color: #5b2ae3;
  height: 48px;
  padding: 6px 24px;
  font-size: 1.313rem;
  font-weight: bold;
  font-family: 'Inter';
}

nav{
  padding:12px 24px;
  border:1px solid #BCB4B4;
  background-color: #FAFBFF;
  ul{
    display: flex;
    column-gap: 48px;
    margin-bottom: 0!important;
    padding-left: 0!important;
  }
}

.nav-list a {
  text-decoration: none;
  color:#8D8B91;
  font-size: 1rem;

}

.nav-list a.active{
  color:#5b2ae3;
}

.survey-form-wrap{
  background-color: #FAFBFF;
}

.survey-container{
  width: 69.063rem;
  margin:24px;
}

.form-heading{
  font-weight: 600;
  font-size: 1.125rem;
  color:#212121;
  padding:28px 0px 8px 0px;
}

.survey-form{
  border:1px solid #EAEAEA;
  padding:32px 35px 20px 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-label{
  color:#212121;
  font-size: 0.875rem;
  font-weight: 600;
}


// select style - custom
::ng-deep .tvsm-select {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400 !important; /* Regular */
  font-size: 0.875rem !important;
  color: #909090 !important;
  opacity: 1 !important;

  border: 0.5px solid #cbcbcb !important;
  border-radius: 20px !important;
  padding: 0.5rem 1rem !important;
  background-color: #fff !important;
  box-shadow: none !important;
  transition: border-color 0.2s ease !important;
  outline: none !important;
  background-image: none!important;
  /* For placeholder / selected text inside */
  .tvsm-select-placeholder,
  .tvsm-select-value {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    color: #000 !important;
    opacity: 1 !important;
  }
}

::ng-deep.tvsm-select-container{
	border:none!important;
	background-color:transparent!important;
}


/* ───────────────  MULTISELECT  ─────────────── */
::ng-deep .tvsm-dropdown__trigger:hover {
  border: 1px solid #c0c0c1 !important;
}

::ng-deep .tvsm-dropdown__trigger--open {
  border: 1px solid #183883 !important;
  box-shadow: none !important;
}

::ng-deep .tvsm-dropdown__search-input {
  border: 1px solid #c0c0c1 !important;

  &:focus {
    border-color: #183883 !important;
  }
}

::ng-deep .tvsm-dropdown .tvsm-dropdown__display-text {
  color: #909090 !important;
}


/* ───────────────  TEXTAREA  ─────────────── */
::ng-deep .tvsm-textarea {
  font-size: 0.813rem !important;
  color: #909090 !important;
  border: 1px solid #c0c0c1 !important;
  border-radius: 0.5rem !important;
  padding: 0.3125rem !important;

  &:focus {
    border-color: #183883 !important;
    color: #1c1c1c !important;
    box-shadow: none !important;
  }
}

// toggle button section styles

// .form-check-input {
//   width: 44px;
//   height: 20px;
//   background-color: #ffff;
//   cursor: pointer;
//   border-color: #183883;
//   transition: background-color 0.3s ease;
//   &:focus {
//     box-shadow: none;
//   }
// }

.custom-timing-select {
  width: 100px;
  height: 30px;
  padding: 0px 8px;
  border-radius: 4px;
  border: 1px solid #707070;
  background-color: #fff;
  font-size: 0.75rem;
  color: #5D5D5D;
  margin-left: 10px;
  cursor: pointer;

  &:focus {
    border-color:#183883 !important;
    outline: none;
    box-shadow:none!important;
  }
}

/* Option base style — you can refine later */
.custom-timing-option {
  background-color: #fff;
  color: #5D5D5D;
}

.toggle-section{
  display: flex;
  align-items: center;
}

.timing-text{
  font-size: 0.75rem;
  font-weight: 400;
  color:#5F5D5D;
}

/* ───────────────  BUTTONS  ─────────────── */
.add-question-btn {
  background-color: #ffff;
  color: #0131FF;
  border:2px solid #0131FF;
  padding: 10px 20px; // 7px 20px
  font-size: 1rem;
  font-weight: 600;
  border-radius: 1.25rem; // 21px
}


.back-btn {
  background-color: #ffff;
  color: #5B2AE3;
  border:2px solid #5B2AE3;
  padding: 6px 25px; 
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px; 
}


.publish-btn{
  background-color: #5B2AE3;
  color: #ffff;
  padding: 6px 25px; 
  font-size: 1rem;
  font-weight: 600;
  border-radius: 4px; 
}

