.header {
  background-color: #5B2AE3;
  height: 48px;
  padding:6px 24px;
  .profile-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    // object-fit: cover;
    cursor: pointer;
  }
}

.profile-content-wrapper{
  padding:16px;
  .general-details-wrapper{
    //pt-cs-16 mt-cs-16 pb-cs-10 ps-cs-14 pe-cs-24
    padding:16px 8px 10px 14px;
    margin-top: 16px;
    background-color: #F8F9FA;
    border-radius: 6px;
  }

  .emergency-details-wrapper{
    //pt-cs-16 mt-cs-16 pb-cs-10 ps-cs-14 pe-cs-8
    padding:16px 12px 16px 14px;
    background-color: #F8F9FA;
    margin-top: 11px;
    border-radius: 6px;
  }

  .version-wrapper{
    padding:6px 12px;
    margin-top: 16px;
    background-color: #F8F9FA;
    border-radius: 6px;
  }
}


// typography

.details-heading{
  color: #000000; // pure black
  font-weight: 500; // medium
  font-size: 0.875rem; // 14px -> 14 / 16 = 0.875rem
  margin-bottom: 16px;
}

.left-detail-text{
  color: #666666; // light black
  font-family: 'Roboto', sans-serif;
  font-weight: 400; // regular
  font-size: 0.75rem; // 12px -> rem
}

.right-detail-text{
  color: #191919; // black
  font-family: 'Roboto', sans-serif;
  font-weight: 400; // regular
  font-size: 0.8125rem; // 13px → 13/16 = 0.8125rem
}


.coach-name{
  color: #1F1F1F;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.rating-text{
  color: #FFA700; // yellow
  font-family: 'Inter', sans-serif;
  font-weight: 500; // medium
  font-size: 0.9375rem; // 15px → 15/16 = 0.9375rem
}

.id-text{
  color: #666666; // grey-dark
  font-family: 'Roboto', sans-serif;
  font-weight: 400; // regular
  font-size: 0.8125rem; // 13px → 13/16 = 0.8125rem
}

.verstion-text{
  color: #0900E5; // blue-dark
  font-family: 'Roboto', sans-serif;
  font-weight: 400; // regular
  font-size: 0.75rem; // 12px → 12/16 = 0.75rem
}

.new-release-text{
  color: #6E6E6E; // grey-mid
  font-family: 'Roboto', sans-serif;
  font-weight: 400; // regular
  font-size: 0.625rem; // 10px → 10/16 = 0.625rem
}